@font-face {
  font-family: "iconfont"; /* Project id 4226671 */
  src: url('iconfont.woff2?t=1693727353385') format('woff2'),
       url('iconfont.woff?t=1693727353385') format('woff'),
       url('iconfont.ttf?t=1693727353385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiqiren:before {
  content: "\e627";
}

.icon-percenttage:before {
  content: "\e613";
}

.icon-zengjia1:before {
  content: "\e629";
}

.icon-dingdan:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e77e";
}

.icon-qianbao:before {
  content: "\e610";
}

